
<% @users.each do |user| %>
  <div class="col-xs-12 col-md-4">
    <div class="card-product">
      <%= link_to("", user_path(user.id), class:"card-link")  %>
      <div class="card-product-infos">
        <h2><%= user.name %> - <%= user.start_year_prepa %></h2>
        <p><%= user.sector%></p>
        <p>Contact: <%= user.email%></p>
      </div>
     <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, class: "avatar-large" %>
        <% else %>
          <%= image_tag "https://i.pravatar.cc/150?img=#{user.pravatar_number}", class: "avatar-large" %>
      <% end %>
    </div>
  </div>
<% end %>
