<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a href="/" class="navbar-wagon-brand white">

  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Voir les alumni", users_path, class: "nav-link white-color " %>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  class="white-color ">
          Chercher par année
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% @years.each do |year| %>
          <a class="dropdown-item" href="#"><%= year %></a>
          <% end %>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  class="white-color ">
          Chercher par secteur
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% @sectors.each do |sector| %>
          <a class="dropdown-item" href="#"><%= sector %></a>
          <% end %>
        </div>
      </li>
        <% if current_user.is_an_alumni?  %>
            <li class="nav-item active">
              <%= link_to "Mon profil", user_path(current_user.id), class: "nav-link white-color " %>
            </li>
        <% end %>

        <li class="nav-item active">
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link white-color " %>
        </li>

      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
